body
  padding 70px 0

.page-header
  margin-top 0

#loading-bar .bar
  top 50px

#loading-bar-spinner
  top 60px

th[st-sort]
  cursor pointer

.st-sort-ascent:after
  content '\25B2'
  padding-left 0.4em

.st-sort-descent:after
  content '\25BC'
  padding-left 0.4em
