doctype html
html
  head
    title BioSentiers
    // inject:css
    // endinject
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') BioSentiers
    .container
      p Welcome to BioSentiers
    // inject:js
    // endinject
    if liveReloadUrl
      script(src=liveReloadUrl)
