nav(ng-show='paginationCtrl.numberOfPages >= 1')
  ul.pagination
    li(ng-class='{disabled: paginationCtrl.currentPage == 1}')
      a(href='#', ng-click='paginationCtrl.selectPage(1)')
        span.glyphicon.glyphicon-step-backward
    li(ng-repeat='p in paginationCtrl.directPageLinks', ng-class='{active: p == paginationCtrl.currentPage}')
      a(href='#', ng-click='paginationCtrl.selectPage(p)') {{ p }}
    li(ng-class='{disabled: paginationCtrl.currentPage == paginationCtrl.numberOfPages}')
      a(href='#', ng-click='paginationCtrl.selectPage(paginationCtrl.numberOfPages)')
        span.glyphicon.glyphicon-step-forward
