nav.navbar.navbar-default.navbar-fixed-top
  .container

    // Header
    .navbar-header
      button.navbar-toggle(type='button', ng-click='navbarCtrl.collapsed = !navbarCtrl.collapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#', ui-sref='home') BioSentiers

    .collapse.navbar-collapse(uib-collapse='navbarCtrl.collapsed')

      // Admin menu
      ul.nav.navbar-nav
        li(uib-dropdown, ui-sref-active='active', ng-if='navbarCtrl.hasRole("admin")')
          a#admin-menu-toggle(href='#', role='button', aria-haspopup='true', aria-expanded='false', uib-dropdown-toggle)
            | Admin
            = ' '
            span.caret
          ul.dropdown-menu(role='menu', aria-labelledby='admin-menu-toggle', uib-dropdown-menu)
            li
              a(href='#', ui-sref='admin.users') Users

      // Authentication
      ul.nav.navbar-nav.navbar-right

        // Log in
        li(ng-if='!navbarCtrl.user')
          a(href='#', ng-click='navbarCtrl.openLoginModal()')
            span.glyphicon.glyphicon-log-in
            = ' '
            | Connexion

        // Profile
        li(ng-if='navbarCtrl.user', ui-sref-active='active')
          a(href='#', ui-sref='profile')
            span.glyphicon.glyphicon-user
            = ' '
            | {{ navbarCtrl.user.email }}

        // Log out
        li(ng-if='navbarCtrl.user')
          a(href='#', ng-click='navbarCtrl.logOut()')
            span.glyphicon.glyphicon-log-out
            = ' '
            | Déconnexion
