.modal-header
  h3.modal-title Invitation d'un nouvel utilisateur

form(name='invitationModalCtrl.form', ng-submit='invitationModalCtrl.form.$valid && invitationModalCtrl.invite()', novalidate)
  .modal-body

    .form-group(validates='invitationModalCtrl.form.email')
      label.control-label(for='user-email') Adresse e-mail
      input#user-email.form-control(type='email', ng-model='invitationModalCtrl.user.email', name='email', required, unique-user-email, autofocus)

      validation-error(for='invitationModalCtrl.form.email', validation='required')
        | Merci d'entrer l'adresse e-mail de la personne à inviter.

      validation-error(for='invitationModalCtrl.form.email', validation='email')
        | Merci d'entrer une adresse e-mail valide.

      validation-error(for='invitationModalCtrl.form.email', validation='uniqueUserEmail')
        | Cette adresse e-mail est déjà utilisée.

    .form-group
      label.control-label(for='user-role') Rôle
      ui-select#user-role(ng-model='invitationModalCtrl.user.role', name='role', required)
        ui-select-match
          | {{ $select.selected }}
        ui-select-choices(repeat='role in invitationModalCtrl.userRoles')
          div(ng-bind-html='role | highlight: $select.search')

    p.alert.alert-danger(ng-if='invitationModalCtrl.apiError')
      | L'invitation n'a pas pu être envoyée. Merci de réessayer plus tard.

  .modal-footer
    .btn-group
      button.btn.btn-default(type='button', ng-click='invitationModalCtrl.dismiss()') Annuler
      button.btn.btn-primary(type='submit', ng-disabled='invitationModalCtrl.form.$invalid') Envoyer
