.container
  .page-header
    button.btn.btn-success.btn-lg.pull-right(type='button', ng-click='usersPageCtrl.openInvitationModal()')
      span.glyphicon.glyphicon-send
      = ' '
      | Invitation
    h1 Utilisateurs

  p Hello World!
